<header>
    <h1>Petition</h1>
</header>
        <main>
            <div class="image">
                <h3>
                    This is a place, where you can sign a petition to make Berlin a cleaner place!
                    <br />
                </h3>
                <h4>Berlin, the German capital, is renowned for its exceptional variety of attractions, 
                    its flourishing cultural scene and a way of life that's both fast-paced and relaxed vibe <br> 
                    with and lots of open spaces for a breath of fresh air. 
                    No city in Germany is greener than Berlin with its forests, lakes and sprawling parks.
                    Let's keep it that way! <br><bold>No littering in Berlin!</bold></h4>
                <img
                    src="/littering.png"
                    alt="littering"
                />
                </br>
                <p>Interested? Click on "help us" button.</p>
                <form method='POST'>
                <input class="button" type="submit" value="Help us!" />
                </form>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js"></script>
{{> description home = true}}