<header>
    <h1>Petition</h1>
</header>
        <main>
            <h3>
                Sign our petition to make Berlin a cleaner place!
                <br />
                No Littering in Berlin!
            </h3>
            </br>
            </br>
            <form method='post'>
                <canvas id="myCanvas" width="450" height="85"></canvas>
                <label for="signature"><p>Sign Here</p></label>
                <input type="hidden" id="signature" name="signature" value="" />
                <input class="submit" type="submit" value="Submit" />
            </form>
            <p>
                Click the "Submit" button and help us make Berlin a cleaner
                place.
            </p>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js"></script>
{{> description home = true}}
