<header>
    <h1>Petition</h1>
</header>
        <main>
            <br>
            <img src="littering.png" alt="littering"/>
            <h3>Now please tell us just a little bit more about yourself.
            </h3>
            <form method='post'>
                <input type='number' id='age' name='age' autocomplete="off">
                <br>
                <label for='age'>Age</label>
                <br>
                <br>
                <input type='text' id='city' name='city' autocomplete="off">
                <br>
                <label for='city'>City</label>
                <br>
                <br>
                <input type="url" id="homePage" name="homePage" autocomplete="off"/>
                <br>
                <label for="homePage">Homepage</label>
                <br>
                <br /><br />
                <input class="continue" type="submit" value="CONTINUE" />
            </form>
            <br>
        </main>
{{> description home = true}}

